.recovery-nav {
  display: flex;
}
.recovery-nav-item {
  padding: 11px;
}

.recovery--cards {
  display: flex;
  flex-wrap: wrap;
}

.gear-images {
  display: flex;
  flex-wrap: wrap;
}

.gear-image {
  width: 150px;
  margin: 10px;
  border-radius: var(--br-image);
}

@media only screen and (max-width: 800px) {
  .gear-image {
    width: 80%;
  }
  .recovery--cards {
    flex-direction: column;
  }
}
.recovery-checkbox {
  list-style: none;
}
.recovery-checkbox:before
{
  
  content: "\2610";
  margin-right:5px;
}
