.infoTitleBackgound {
  background-color: var(--clr-accent);
  padding: 10px;
  margin-bottom: .3em;
  min-height: 108px;
}

.infoTitleText {
  color: white;
  font-size: 2em;
  margin-bottom: 0px;
}

.subTitleText {
  color: white;
  font-size: 1em;
}