---
import Layout from "../layouts/layout.astro"
import NavCard from "../components/Navcard/NavCard.astro"
import stuckBronco from "../assets/images/StuckBronco.webp"
import offRoading from "../assets/images/offroading1.webp"
import rockbronco from "../assets/images/rocksbronco.webp"
---

<Layout>
  <header class="home--hero-section">
    <h1 class="home--hero-message">Off-Roadeo Guides</h1>
  </header>
  <main class="page-content">
    <p class="home--description">
      We provide Off-Roadeo Guests with information that we may have covered
      during their experience, the ability to prepare for their day with us, but
      also provides people with general offroading and recovery information.
    </p>

    <div class="home--nav-cards">
      <NavCard
        title="Recovery"
        link="recovery"
        altText="A bronco stuck in the sand"
        image={stuckBronco}
        >Off-road recoveries occur when the driver and vehicle are unable to
        continue, generally due to a loss of traction.</NavCard
      >
      <NavCard
        title="Offroading"
        link="offroad"
        altText="A bronco sport driving between some trees"
        image={offRoading}
        >Off-Roading, as we talk about it, is done mostly with <b>Broncos</b> and
        <b>Bronco Sports</b>.</NavCard
      >
      <NavCard
        title="Bronco Information"
        link="goatmodes"
        altText="A Red 2 door Bronco on some rocks"
        image={rockbronco}>Technical details related to Broncos.</NavCard
      >
    </div>
    <p>
      This site is maintained by some of the guides at Bronco Off-Roadeo. It is
      not associated with or endorsed by <a
        href="http://www.ford.com"
        target="_blank">Ford</a
      > or <a href="http://www.broncooffroadeo.com" target="_blank"
        >Bronco Off-Roadeo</a
      >.
    </p>
  </main>

  <style>
    .home--hero-section {
      background-image: url("/sunrise.jpg");
      background-size: cover;
      background-repeat: none;
      background-position: center;
      height: 50vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .home--hero-message {
      font-size: 4em;
      color: black;
      text-align: center;
      font-weight: bold;
      text-shadow: 0px 0px 3px rgba(255, 200, 200, 0.5);
    }
    .home--description {
      font-size: 1.5rem;
    }
    .home--nav-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  </style>
</Layout>
