<nav>
  <ul class="">
    {
      /* <li class="nav-item active">
                <a class="nav-link" href="/guides">Guides</a>
                </li> */
    }
    <li aria-label="Home" class=""><a class="nav-link" href="/">Home</a></li>
    <li aria-label="Offroading" class="nav-item active">
      <a class="nav-link" href="/offroad">Offroading</a>
    </li>
    <li aria-label="Recovery" class="nav-item active">
      <a class="nav-link" href="/recovery">Recovery</a>
    </li>
    <li aria-label="Goat Modes" class="nav-item active">
      <a class="nav-link" href="/goatmodes">GOAT Modes</a>
    </li>
  </ul>
</nav>

<script></script>

<style>
  nav {
    background: var(--clr-dark);
    color: var(--clr-light);
    container-type: inline-size;
    container-name: navigation;
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding-inline-start: 1rem;
    }
    a {
      color: inherit;
      text-decoration: none;
      margin-left: 1rem;
    }
  }
</style>
