.navCard--wrapper {
  display: flex;
  width: 40%;
  border-radius: 10px;
  border: 4px solid transparent;
}

.navCard--wrapper:hover {
  border: 4px solid blue;
}

.navCard--inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navCard--title {
  font-size: 2rem;
  font-weight: bold;
}

.navCard--link {
  text-decoration: none;
}

.navCard--image {
  width: 50%;
  border-radius: 10px;
  margin: 2px;
}

.navCard--text {
  text-decoration: none;
  padding: .2em;
  font-size: 1.5rem;
}