.navCard--wrapper {
  display: flex;
  width: 40%;
  border-radius: var(--br-image)
}

/* .navCard--wrapper:hover,
.navCard--wrapper:focus {
  box-shadow: var(--bs);
} */

.navCard--inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navCard--title {
  font-size: 2rem;
  font-weight: bold;
}

.navCard--link {
  text-decoration: none;
}

.navCard--image {
  width: 70%;
  border-radius: var(--br-image);
  margin: 2px;
  box-shadow: var(--bs);
  transition: transform 200ms ease-in-out;
}

.navCard--image:hover,
.navCard--image:focus {
  transform: scale(1.1);
  overflow: hidden;
}
.navCard--text {
  text-decoration: none;
  padding: .2em;
  font-size: 1.5rem;
}

@media only screen and (max-width: 800px) {

  .navCard--wrapper {
    display: flex;
    width: 100%;
    border-radius: var(--br-image);

  }

}
