.aside {
  border: 4px solid var(--clr-accent);
  border-radius: var(--br-image);
  margin: 3em .8em;
  padding:10px;
  color: var(--clr-accent);
  display: flex;
  flex-direction: column;
}

.aside-header {
  font-size: 1.5em;
  font-weight: bold;
}
.aside-text {
  font-size: 1.5em;
}

.aside-text-only {
  text-align: center;
}

.Aside-UL {
  padding-left: 1em;
}

.bronc-logo {
  filter: invert(19%) sepia(56%) saturate(2907%) hue-rotate(341deg) brightness(95%) contrast(91%);
  align-self: center;
  width: 200px;
  margin-top: 0px;
}

