---
import { Image } from "astro:assets"
import { getImage } from "../../utils/boardUtils.astro"
import type { ImageMetadata } from "astro"

interface Props {
  link: string
  title: string
  image: string
}
const { link, title, image } = Astro.props

const resolvedImage = await getImage(image)
---

<a href={link}>
  <div class="board-link-card">
    <div class="image-container">
      {resolvedImage && <Image src={resolvedImage.default} alt={title} />}
    </div>
    <p>{title}</p>
  </div>
</a>

<style>
  a {
    text-decoration: none;
  }
  .board-link-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      color: var(--font-color-dark);
      font-weight: bold;
      margin: 0;
    }
    .image-container {
      max-width: 200px;
      max-height: 100px;
      overflow: hidden;
      border-radius: var(--br-image);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
</style>
