---
import { Image } from "astro:assets"
import { getImage } from "../utils/boardUtils.astro"

interface Props {
  data: string
  image?: string
}

const { data, image } = Astro.props

const transformedData = data
  ? data.replace(/\*\*(.*?)\*\*/g, "<strong>$1</strong>")
  : ""

const resolvedImage = await getImage(image)
---

<div class="bullet">
  {data && <li set:html={transformedData} />}
  {resolvedImage && <Image src={resolvedImage.default} alt={data || ""} width={100} height={100} />}
</div>


<style>
  .bullet {
    display: flex;
    flex-direction: column;
    li{
      font-size: 1.5rem;
    }
  }
</style>