.home--hero-section {
  background-image: url("/sunrise.jpg");
  background-size: cover;
  background-repeat: none;
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home--description {
  font-size: 1.5rem;
}

.home--hero {
  width: 100vw;
}

.home--hero-message {
  font-size: 4em;
  background-color: brown;
  border-radius: 20px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bold;
}

.home--nav-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.home--card-link {
  text-decoration: none;
}

.home--card {
  display: flex;
  width: 40%;
  border-radius: 10px;
  border: 4px solid transparent;
}
.home--card:hover {
  border: 4px solid blue;
}


@media only screen and (max-width: 800px) {
  .home--hero-section {
    width: 100vw;
    height: 300px;
  }

  .home--nav-cards {
    flex-direction: column;
  }

  .home--hero-message {
    font-size: 2em;
    padding-left: 40px;
    padding-right: 40px;
  }
}