.main-content {
  display: flex;
  flex-direction: row;
  gap: 1em;
  container-type: inline-size;
  container-name: main-content;
  @container main (width < 800px) {
    flex-direction: column;
  }
}

.figure {
  border: 1px solid;
  aspect-ratio: 1;
  height: min(80vh, 80vw);
  display: flex;
  padding: 0.5em;
  container-type: inline-size;
  container-name: figure;
  position: relative;
  justify-content: center;
  align-items: center;
  .circle {
    position: relative;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 60cqmin;
    outline: 10px solid var(--clr-accent);
    background: linear-gradient(#0000 49.5%, var(--clr-dark) 0 50.5%, #0000 0),
      linear-gradient(90deg, #0000 49.5%, var(--clr-dark) 0 50.5%, #0000 0);
  }
  .title {
    font-size: 2em;
    margin: 0;
    padding: 0;
    @container main (width < 480px) {
      font-size: 1em;
    }
  }
  .top-title {
    position: absolute;
    top: 0;
  }
  .right-title {
    position: absolute;
    rotate: 90deg;
    right: 0;
  }
  .left-title {
    position: absolute;
    rotate: -90deg;
    left: 0;
  }
  .bottom-title {
    position: absolute;
    bottom: 0;
  }
}

.line {
  position: absolute;
  height: 2px;
  background: blue;
  transform-origin: 0 50%;
}

.calctip {
  position: absolute;
  
  ul {
    padding-inline:.25rem;
    background:hsl(from var(--clr-dark) h s l / .8);
    border-radius:var(--br);
  }
  li {
    list-style-type: none;
    color:var(--clr-light);
  }
}

.mouseBox {
  position: absolute;
  background: hsl(from var(--clr-accent) h s l / 25%);
}

.description {
  border: 1px solid;
  container-type:inline-size;
  container-name:description;
  display:flex;
  flex-direction: column;
  width:100%;
  form {
    display: flex;
    flex-direction: row;
    gap: 1em;
    @container description (width < 480px) {
      flex-direction: column;
    }
  }
  input {
    max-height: 2em;
  }
  label {
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:.5rem;
    @container description (width < 480px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  p {
    padding: 0.5em;
    margin-block: 0.25em;
  }
  .equation {
    font-size: 1.5em;
    font-family: var(--ff-secondary);
  }
}
