.frontback-next-arrow {
  position: fixed;
  top: 50%;
  right: 0%;
}

.frontback-prev-arrow {
  position: fixed;
  top: 50%;
  left: 0%;
}

.fb-arrow-container-prev {
  position: fixed;
  height: 100vh;
  width:40px;
}

.fb-arrow-container-next {
  position: fixed;
  height: 100vh;
  width:40px;
  right: 0%;
}
