---
import Layout from "../layouts/layout.astro"
import { Image } from 'astro:assets'
import NavCard from "../components/NavCard/NavCard.astro"
import stuckBronco from "../assets/StuckBronco.webp"
import offRoading from "../assets/offroading1.webp"
import rockbronco from "../assets/rocksbronco.webp"
import heroImage from "../assets/sunrise.webp"
---

<Layout 
  title="Home" 
  description="Expert Bronco Off-Roadeo guidance. Prepare for your adventure with our comprehensive resources on recovery, G.O.A.T. modes, and more."
>
  <header class="home--hero-section">
    <Image 
      src={heroImage} 
      alt="Sunrise over an off-roading trail" 
      class="home--hero-image"
      loading="eager"
      fetchpriority="high"
    />
    <div class="home--hero-overlay"></div>
    <h1 class="home--hero-message">Off-Roadeo Guides</h1>
  </header>
  <main class="page-content">
    <p class="home--description">
      We provide Off-Roadeo Guests with information that we may have covered
      during their experience, the ability to prepare for their day with us, but
      also provides people with general offroading and recovery information.
    </p>

    <div class="home--nav-cards">
      <NavCard
        title="Recovery"
        link="recovery"
        altText="A bronco stuck in the sand"
        image={stuckBronco}
        >Off-road recoveries occur when the driver and vehicle are unable to
        continue, generally due to a loss of traction.</NavCard
      >
      <NavCard
        title="Offroading"
        link="offroad"
        altText="A bronco sport driving between some trees"
        image={offRoading}
        >Off-Roading, as we talk about it, is done mostly with <b>Broncos</b> and
        <b>Bronco Sports</b>.</NavCard
      >
      <NavCard
        title="Bronco Information"
        link="goatmodes"
        altText="A Red 2 door Bronco on some rocks"
        image={rockbronco}>Technical details related to Broncos.</NavCard
      >
    </div>
    <p>
      This site is maintained by some of the guides at Bronco Off-Roadeo. It is
      not associated with or endorsed by <a
        href="http://www.ford.com"
        target="_blank">Ford</a
      > or <a href="http://www.broncooffroadeo.com" target="_blank"
        >Bronco Off-Roadeo</a
      >.
    </p>
  </main>

</Layout>
