---
const date = new Date()

const year = date.getFullYear()
---

<footer>
  <div class="footer">
    <p class="footer-text">All rights reserved. Martin Consulting {year}</p>
    <p class="footer-text">
      No information on this website is endorsed by Ford Motor Company or any of
      their affiliates.
    </p>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-surface-alt);
    color: var(--clr-text-muted);
    border-top: 2px solid var(--clr-secondary);
    gap: 2rem;
    @container (width < 1000px) {
      flex-direction: column;
      gap: 0;

    }
  }
  .footer-text {
    font-size: 0.8rem;
    margin: 0.5rem 0;
    letter-spacing: 0.05em;
    text-align: center;

      
  }
</style>
