.guide--main-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: var(--clr-surface);
  border: 1px solid var(--clr-border);
  box-shadow: var(--bs);
}

.float {
  float: right;
  margin: 0 0 1.5rem 1.5rem;
}

.guide--headshot {
  width: 350px;
  max-width: 100%;
  border: 4px solid var(--clr-primary);
  box-shadow: var(--bs);
}

.guide--tips-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: var(--clr-surface-alt);
  border: 1px solid var(--clr-border);
  box-shadow: var(--bs-inset);
  margin-top: 1.5rem;
}

.guide--socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 2rem;
  border-top: 2px solid var(--clr-border);
  justify-content: flex-start;
  margin-top: 1rem;
}

.guide--social-logo {
  width: 48px;
  height: 48px;
  background: var(--clr-surface-alt);
  border: 1px solid var(--clr-border);
  padding: 10px;
  box-shadow: var(--bs);
  transition: all 0.1s ease;
}

.guide--social-logo:hover {
  transform: translate(-3px, -3px);
  box-shadow: 7px 7px 0px rgba(0,0,0,0.4);
  background: var(--clr-accent);
}

@media only screen and (max-width: 800px) {
  .guide--main-card {
    padding: 1rem;
  }

  .float {
    float: none;
    margin: 0 0 1.5rem 0;
    width: 100%;
  }

  .guide--headshot {
    width: 100%;
  }
  
  .guide--socials {
    justify-content: center;
  }
}