
* {
  box-sizing: border-box;
}

a {
  color:black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 50px;
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: lightblue;
  color: black;
  background-image: url("/Topo.svg");
  background-repeat: repeat;
  background-size:cover;
}
main {
  flex: 1;
}
.page-content {
  padding: 10px;
  margin-bottom: 20px;
}